# Ignore Windows Executables
*.exe

# Ignore the massive downloaded JSON folders (if you put them inside your project)
Rigveda/
Yajurveda/
Atharvaveda/
SrimadBhagvadGita/
ValmikiRamayana/
Ramcharitmanas/
Mahabharata/

# Ignore massive generated text files
master_devanagari_corpus.txt
shiva_shakti_codes.txt

# Node modules (if you initialized npm)
node_modules/